<!DOCTYPE html>
<html>
<head>
    <title>Vue Project</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <br>
    <br>
    <div id="root">

        <h3>Enter your contact details</h3>
        <br>
        <br>

        <p>First name</p>
        <inputtext v-model="firstName"></inputtext>
        <br>
        <br>
        <br>

        <p>Last name</p>
        <inputtext v-model="lastName"></inputtext>

        <br>
        <br>
        <br>
        <br>

        <div>First name: {{firstName}}</div>
        <div>Last name: {{lastName}}</div>
    </div>

    <script src="js/sanitizers.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/components.js"></script>

    <script>

        new Vue({
            el: '#root',
            data: {
                firstName: 'Viktor',
                lastName: 'Jarnheimer'
            }
        });

    </script>
</body>
</html>