
<main id="root">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li v-for="contact in contacts" @click="getContact(contact)" style="cursor: pointer; background: #eee; margin-bottom:5px;">
            <p><span>{{contact.firstName | title}} {{contact.lastName | title}}</span><span class="small pull-right">{{contact.gender}} {{contact.age}}</span></p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <form @submit.prevent="addContact">
          <input-box type="text" name="firstName" label="First name" stacked="stacked" rules="required|alpha_spaces" v-model="contact.firstName"></input-box>
          <input-box type="text" name="lastName" label="Last name" stacked="stacked" rules="required|alpha_spaces" v-model="contact.lastName"></input-box>
          <switch-radio id="female" name="gender" label="Female" value="f" v-model="contact.gender" rules="required" stacked="stacked"></switch-radio>
          <switch-radio id="male" name="gender" label="Male" value="m" v-model="contact.gender" rules="required" stacked="stacked"></switch-radio>
          <list-box name="age" label="Age" stacked="stacked" :options="age" v-model="contact.age" rules="required" placeholder="Age"></list-box>
          <button type="submit" class="btn btn-default btn-block">SAVE</button>
          <button type="reset" @click="reset" class="btn btn-default btn-block">RESET</button>
        </form>
      </div>
    </div>
  </div>
</main>