
<div id="root">
  <v-steps :start-index="0" @on-complete="complete">
    <v-step>
      <v-input name="t1" rules="required" v-model="t1" validate-event="blur">text 1</v-input>
      <v-input name="t1" rules="required" v-model="t1" validate-event="blur">text 1</v-input>
      <v-input name="t1" rules="required" v-model="t1" validate-event="blur">text 1</v-input>
      <v-input name="t1" rules="required" v-model="t1" validate-event="blur">text 1</v-input>
      <v-select name="q" :options="[{value: 'q', label: 'Q'}]" :empty-option="true"></v-select>
    </v-step>
    <v-step :skip="true">
      <v-input name="t2" rules="required|email" v-model="t2">text 2</v-input>
    </v-step>
    <v-step>
      <v-input name="t3" rules="required|numeric" v-model="t3">text 3</v-input>
    </v-step>
    <v-step>
      <h1>uihwefuygwe</h1>
    </v-step>
  </v-steps>
</div>