script(src='js/lib.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="js/vue/components.js")
script(src="js/vue/filters.js")
script(src='js/app.min.js')