<!DOCTYPE html>
<html lang="en">
  <head>
    <title>index page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <!--nav.navbar.navbar-default-->
      <!--    .container-fluid-->
      <!--        .navbar-header-->
      <!--            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')-->
      <!--                span.sr-only Toggle navigation-->
      <!--                span.icon-bar-->
      <!--                span.icon-bar-->
      <!--                span.icon-bar-->
      <!--            a.navbar-brand(href='#') Project name-->
      <!--        #navbar.navbar-collapse.collapse-->
      <!--            ul.nav.navbar-nav-->
      <!--                li.active-->
      <!--                    a(href='/index.html') Home-->
      <!--                li-->
      <!--                    a(href='/example.html') Example-->
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="root">
            <v-date-picker name="date" v-model="date" date-format="D-M-Y" label="label" rules="required"></v-date-picker>
            <v-radio-group name="radio-gr" hedaer="Radio group" rules="required">
              <v-radio value="q1" id="r1" v-model="radio" :id-slots="['r3', 'r1']">radio 1</v-radio>
              <v-radio value="q2" id="r2" v-model="radio" :id-slots="['r2']">radio 2</v-radio>
              <v-radio value="q2" id="r3" v-model="radio" :id-slots="['r2', 'r1']">radio 3</v-radio>
              <h1 slot="r1">Slot radio 1</h1>
              <h1 slot="r2">Slot radio 2</h1>
              <h1 slot="r3">Slot radio 3</h1>
            </v-radio-group>
            <select name="effect" v-model="effect" class="form-control">
              <optgroup label="Bounce">
                <option value="bounce">bounce</option>
                <option value="bounceDown">bounceDown</option>
                <option value="bounceLeft">bounceLeft</option>
                <option value="bounceRight">bounceRight</option>
                <option value="bounceUp">bounceUp</option>
              </optgroup>
              <optgroup label="Fade">
                <option value="fade">fade</option>
                <option value="fadeDown">fadeDown</option>
                <option value="fadeDownBig">fadeDownBig</option>
                <option value="fadeLeft">fadeLeft</option>
                <option value="fadeLeftBig">fadeLeftBig</option>
                <option value="fadeRight">fadeRight</option>
                <option value="fadeRightBig">fadeRightBig</option>
                <option value="fadeUp">fadeUp</option>
                <option value="fadeUpBig">fadeUpBig</option>
              </optgroup>
              <optgroup label="Rotate">
                <option value="rotate">rotate</option>
                <option value="rotateDownLeft">rotateDownLeft</option>
                <option value="rotateDownRight">rotateDownRight</option>
                <option value="rotateUpLeft">rotateUpLeft</option>
                <option value="rotateUpRight">rotateUpRight</option>
              </optgroup>
              <optgroup label="Slide">
                <option value="slideDown">slideDown</option>
                <option value="slideLeft">slideLeft</option>
                <option value="slideRight">slideRight</option>
                <option value="slideUp">slideUp</option>
              </optgroup>
              <optgroup label="Zoom">
                <option value="zoom">zoom</option>
                <option value="zoomDown">zoomDown</option>
                <option value="zoomLeft">zoomLeft</option>
                <option value="zoomRight">zoomRight</option>
                <option value="zoomUp">zoomUp</option>
              </optgroup>
            </select>
            <v-input name="qqq" label="qqq" popover-content="popover" rules="required|email|max:10" validate-event="blur|input" v-model="i"></v-input>
            <v-date-picker name="date" rules="required" v-model="date"></v-date-picker>
            <v-button @click="validate">Validate</v-button>
          </div>
        </div>
      </div>
      <!--.block-slide-->
      <!--    button(@click="show.push(i+1)") Add-->
      <!--    br-->
      <!--    ul(is="transition-group" )-->
      <!--        li(v-for="item in show" class="demo" v-text="item", :key="item")-->
      
      
      
      <!--v-steps(@on-complete="form2")-->
      <!--    h2(slot="header")  Header-->
      <!--    v-step(:validating="true")-->
      <!--        v-input(name="f1" type="text" label="step 1" rules="required" inline input-cols="col-md-10 col-sm-6" label-cols="col-md-2")-->
      <!--        v-input(name="f2" type="text" label="step 1" rules="required" inline)-->
      <!--        v-input(name="f3" type="text" label="step 1" rules="required" inline)-->
      <!--        v-radio-group(name="r1" header="Radio" rules="required" inline-items)-->
      <!--            v-radio(id="sp_male2" value="m")-->
      <!--                i.fa.fa-vk.icon-->
      <!--                | Make-->
      <!--            v-radio(id="sp_male1" value="m")-->
      <!--                i.fa.fa-vk.icon-->
      <!--                | Make-->
      <!--    v-step(:validating="true")-->
      <!--        v-input(name="f4" type="text" label="step 2" rules="required")-->
      <!--        v-input(name="f5" type="text" label="step 2" rules="required")-->
      <!--    v-step(:validating="true")-->
      <!--        v-input(name="f5" type="text" label="step 3" rules="required")-->
      <!--        v-input(name="f6" type="text" label="step 3" rules="required")-->
      <!--    v-step(:validating="true")-->
      <!--        v-input(name="f7" type="text" label="step 4" rules="required")-->
      <!--    h2(slot="footer") Footer-->
      <!---->
      <!--v-input(name="12qwd" id="qwdwqd", :using-addons="true", @on-addons="change" v-model="contact.firstName")-->
    </div>
    <!--.row-->
    <!--    .col-md-4.col-sm-4-->
    <!--        .v-panel-->
    <!--            .v-panel-title-->
    <!--                .v-panel-title-pre-->
    <!--                    b Most popular-->
    <!--                h2-->
    <!--                    b Managet divorce-->
    <!--                p loremj wuhf uwhfiuh wieufh wiuefh iwufh i-->
    <!--            .v-panel-body-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.del qwdqwdqdqwqd-->
    <!--                p.del qwdqwdqdqwqd-->
    <!--            .v-panel-footer-->
    <!--                .price $450-->
    <!--                button.btn.btn-success Select-->
    <!---->
    <!--    .col-md-4.col-sm-4-->
    <!--        .v-panel-->
    <!--            .v-panel-title-->
    <!--                .v-panel-title-pre-->
    <!--                    p title-->
    <!--                h2-->
    <!--                    b title-->
    <!--                p loremj wuhf uwhfiuh wieufh wiuefh iwufh i-->
    <!--            .v-panel-body-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.del qwdqwdqdqwqd-->
    <!--                p.del qwdqwdqdqwqd-->
    <!--            .v-panel-footer-->
    <!--                .price $450-->
    <!--                button.btn.btn-success Select-->
    <!--    .col-md-4.col-sm-4-->
    <!--        .v-panel-->
    <!--            .v-panel-title-->
    <!--                .v-panel-title-pre-->
    <!--                    p title-->
    <!--                h2-->
    <!--                    b title-->
    <!--                p loremj wuhf uwhfiuh wieufh wiuefh iwufh i-->
    <!--            .v-panel-body-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.check wieufh iwuhfwu efhiwufei whef-->
    <!--                p.del qwdqwdqdqwqd-->
    <!--                p.del qwdqwdqdqwqd-->
    <!--            .v-panel-footer-->
    <!--                .price $450-->
    <!--                button.btn.btn-success Select-->
    <script src="js/lib.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/vue/components.js"></script>
    <script src="js/vue/filters.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>