#root

    v-steps(@on-complete="form2")
        h2(slot="header")  Header
        v-step(:validating="true")
            v-input(name="f1" type="text" label="step 1" rules="required" inline input-cols="col-md-10 col-sm-6" label-cols="col-md-2")
            v-input(name="f2" type="text" label="step 1" rules="required" inline)
            v-input(name="f3" type="text" label="step 1" rules="required" inline)
            v-radio-group(name="r1" header="Radio" rules="required" inline-items)
                v-radio(id="sp_male2" value="m")
                    i.fa.fa-vk.icon
                    | Make
                v-radio(id="sp_male1" value="m")
                    i.fa.fa-vk.icon
                    | Make
        v-step(:validating="true")
            v-input(name="f4" type="text" label="step 2" rules="required")
            v-input(name="f5" type="text" label="step 2" rules="required")
        v-step(:validating="true")
            v-input(name="f5" type="text" label="step 3" rules="required")
            v-input(name="f6" type="text" label="step 3" rules="required")
        v-step(:validating="true")
            v-input(name="f7" type="text" label="step 4" rules="required")
        h2(slot="footer") Footer

    v-input(name="12qwd" id="qwdwqd", :using-addons="true", @on-addons="change" v-model="contact.firstName")