#root

    v-date-picker(name="date" v-model="date" date-format="D-M-Y" label="label")

    v-radio-group(name="radio-gr" hedaer="Radio group")
        v-radio(value="q1" id="r1" v-model="radio", :id-slots="['r3', 'r1']") radio 1
        v-radio(value="q2" id="r2" v-model="radio", :id-slots="['r2']") radio 2
        v-radio(value="q2" id="r3" v-model="radio", :id-slots="['r2', 'r1']") radio 3
        h1(slot="r1") Slot radio 1
        h1(slot="r2") Slot radio 2
        h1(slot="r3") Slot radio 3


    //.block-slide
    //    button(@click="show.push(i+1)") Add
    //    br
    //    ul(is="transition-group" )
    //        li(v-for="item in show" class="demo" v-text="item", :key="item")




    //v-steps(@on-complete="form2")
    //    h2(slot="header")  Header
    //    v-step(:validating="true")
    //        v-input(name="f1" type="text" label="step 1" rules="required" inline input-cols="col-md-10 col-sm-6" label-cols="col-md-2")
    //        v-input(name="f2" type="text" label="step 1" rules="required" inline)
    //        v-input(name="f3" type="text" label="step 1" rules="required" inline)
    //        v-radio-group(name="r1" header="Radio" rules="required" inline-items)
    //            v-radio(id="sp_male2" value="m")
    //                i.fa.fa-vk.icon
    //                | Make
    //            v-radio(id="sp_male1" value="m")
    //                i.fa.fa-vk.icon
    //                | Make
    //    v-step(:validating="true")
    //        v-input(name="f4" type="text" label="step 2" rules="required")
    //        v-input(name="f5" type="text" label="step 2" rules="required")
    //    v-step(:validating="true")
    //        v-input(name="f5" type="text" label="step 3" rules="required")
    //        v-input(name="f6" type="text" label="step 3" rules="required")
    //    v-step(:validating="true")
    //        v-input(name="f7" type="text" label="step 4" rules="required")
    //    h2(slot="footer") Footer
    //
    //v-input(name="12qwd" id="qwdwqd", :using-addons="true", @on-addons="change" v-model="contact.firstName")

//.row
//    .col-md-4.col-sm-4
//        .v-panel
//            .v-panel-title
//                .v-panel-title-pre
//                    b Most popular
//                h2
//                    b Managet divorce
//                p loremj wuhf uwhfiuh wieufh wiuefh iwufh i
//            .v-panel-body
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.del qwdqwdqdqwqd
//                p.del qwdqwdqdqwqd
//            .v-panel-footer
//                .price $450
//                button.btn.btn-success Select
//
//    .col-md-4.col-sm-4
//        .v-panel
//            .v-panel-title
//                .v-panel-title-pre
//                    p title
//                h2
//                    b title
//                p loremj wuhf uwhfiuh wieufh wiuefh iwufh i
//            .v-panel-body
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.del qwdqwdqdqwqd
//                p.del qwdqwdqdqwqd
//            .v-panel-footer
//                .price $450
//                button.btn.btn-success Select
//    .col-md-4.col-sm-4
//        .v-panel
//            .v-panel-title
//                .v-panel-title-pre
//                    p title
//                h2
//                    b title
//                p loremj wuhf uwhfiuh wieufh wiuefh iwufh i
//            .v-panel-body
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.check wieufh iwuhfwu efhiwufei whef
//                p.del qwdqwdqdqwqd
//                p.del qwdqwdqdqwqd
//            .v-panel-footer
//                .price $450
//                button.btn.btn-success Select