.has-error
  color #a94442
  input, textarea, select
    position: relative
    &:active, &:focus
      border-color: #a94442
  .control-container .wrap-controller
    position relative
    &::after
      position: absolute
      height 20px
      width 30px
      text-align center
      top: 0
      right: 5px
      bottom: 0
      margin auto
      font: normal normal normal 18px / 1 FontAwesome;
      content "\f00d"

.has-success
  color #3c763d
  input, textarea, select
    position: relative
    &:active, &:focus
      border-color: #3c763d
  .control-container .wrap-controller
    position relative
    &::after
      position: absolute
      height 20px
      width 30px
      text-align center
      top: 0
      right: 5px
      bottom: 0
      margin auto
      font: normal normal normal 18px / 1 FontAwesome;
      content "\f00c"

.steps
  padding 30px 0
  &-navigation
    padding 20px 0
    transition 0.5s
    @media screen and (min-width: 992px)
      padding 25px 15px
      position fixed
      top 0
      left 0
      right 0
    &-progress
      background #ccc
      position relative
      overflow hidden
      border-radius 4px
      &-bar
        transition width 0.5s
        background green
        position absolute
        top 0
        left 0
        height 100%




