.has-error
  color #cd2e36
  input, textarea, select
    position: relative
    &:active, &:focus
      border-color: #cd2e36
  .control-container .wrap-controller
    position relative
    &::after
      position: absolute
      height 20px
      width 30px
      text-align center
      top: 0
      right: 5px
      bottom: 0
      margin auto
      font: normal normal normal 18px / 1 FontAwesome;
      content "\f00d"

.has-success
  color #006d30
  input, textarea, select
    position: relative
    &:active, &:focus
      border-color: #006d30
  .control-container .wrap-controller
    position relative
    &::after
      position: absolute
      height 20px
      width 30px
      text-align center
      top: 0
      right: 5px
      bottom: 0
      margin auto
      font: normal normal normal 18px / 1 FontAwesome;
      content "\f00c"