.has-error
  color #a94442
  input, textarea, select
    position: relative
    &:active, &:focus
      border-color: #a94442
  .radio-box
    border-color #a94442

.has-success
  color #3c763d
  input, textarea, select
    position: relative
    &:active, &:focus
      border-color: #3c763d
  .radio-box
    border-color #3c763d

.radio-box
  position relative
  padding 10px 15px 10px 40px
  input
    position absolute
    top 0
    bottom 0
    left 15px
    width 15px
    margin auto

.steps
  padding 0 0 30px
  @media screen and (min-width: 992px)
    padding 70px 15px
  &-navigation
    padding 20px 0
    transition 0.5s
    @media screen and (min-width: 992px)
      padding 30px
      position fixed
      top 0
      right 0
      width calc(100% - 250px)
    @media screen and (max-width: 992px){
      &.fixed{
        padding 30px
        position fixed
        top 0
        right 0
        width 100%
        z-index 2
        background #fff
        box-shadow 0 2px 17px -8px #414141
      }
    }
    &-progress
      min-height 10 px
      background #ccc
      position relative
      overflow hidden
      border-radius 4px
      &-bar
        transition width 0.5s
        background green
        position absolute
        top 0
        left 0
        height 100%

.d-inline
  display inline-block !important
  width auto !important

.v-row
  margin-left -5px
  margin-right -5px

.v-col
  padding-left 5px
  padding-right 5px